extends layout

block head
  link(rel='stylesheet', href='stylesheets/flipboard.css')
  script#pageTmpl(type='text/x-jquery-tmpl')
      <div class="${theClass}" style="${theStyle}">
      <div class="front">
      <div class="outer">
      <div class="content" style="${theContentStyleFront}">
      <div class="inner">{{html theContentFront}}</div>
      </div>
      </div>
      </div>
      <div class="back">
      <div class="outer">
      <div class="content" style="${theContentStyleBack}">
      <div class="inner">{{html theContentBack}}</div>
      </div>
      </div>
      </div>
      </div>

  script#topicTmpl(type='text/x-jquery-tmpl')
      <div class="back">
      <div class="outer">
      <div class="content" style="${theContentStyleBack}">
      <div class="inner">{{html theContentFront}}</div>
      </div>
      </div>
      </div>
      
      <div class="${theClass}" style="${theStyle}">
      <div class="front">
      <div class="outer">
      <div class="content" style="${theContentStyleFront}">
      <div class="inner">{{html theContentBack}}</div>
      </div>
      </div>
      </div>
      </div>
      </div>
    
block content
  header.main-title
        h1
          | 
          strong
        p 滑指翻页，点击打开
        p
          strong 需要使用支持 Webkit 浏览器 (Safari, Chrome)

        div(style="height:430px")
          | 
          strong
          
        h3
          | 咨询电话： 12366
        h3
          | 举报电话(省局): 0731-88188805
        h3
          | 作风监督(省局): 0731-88188730
        h3
          | 服务投诉(省局): 0731-88188760
        h3
          | 举报电话(市局): 0745-2358105
        h3
          | 服务投诉(市局): 0745-2332366
            

        h1
          strong www.hnds.gov.cn

  #main(role="main")
